# ----------------------
# Python 기본
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# ----------------------
# Conda 환경
# ----------------------
env/
.condaenv/
.venv/
venv/
ENV/
pkgs/
conda-meta/

# ----------------------
# Jupyter Notebook
# ----------------------
.ipynb_checkpoints
*.ipynb~

# ----------------------
# VSCode
# ----------------------
.vscode/
*.code-workspace

# ----------------------
# Streamlit
# ----------------------
.streamlit/

# ----------------------
# Flask
# ----------------------
instance/

# ----------------------
# TensorFlow / PyTorch / ML
# ----------------------
*.tfrecord
checkpoints/
logs/
saved_model/
*.h5
*.ckpt*
*.pth
*.pt

# ----------------------
# OS/에디터 캐시 파일
# ----------------------
.DS_Store
Thumbs.db
*.swp
*.swo
