__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

env/
.condaenv/
.venv/
venv/
ENV/
pkgs/
conda-meta/

.ipynb_checkpoints
*.ipynb~

.vscode/
*.code-workspace

.streamlit/

instance/

*.tfrecord
checkpoints/
logs/
saved_model/
*.h5
*.ckpt*
*.pth
*.pt

.DS_Store
Thumbs.db
*.swp
*.swo
